<div class="card bg-light mb-3">
  <h3 class="card-header">
    <% if comment.user.photo.nil? %>
      <%= link_to user_path(id: comment.user.id), class: "card-link" do %>
        <%= image_tag 'space.png', class: "little-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: comment.user.nickname %>
      <%end %>
    <%else %>
      <% if comment.user.photo.image_data? %>
        <%= link_to user_path(id: comment.user.id), class: "card-link" do %>
          <%= image_tag comment.user.photo.image_url(:small), class: "little-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: comment.user.nickname %>
        <% end %>
      <% end %>
    <%end %>  <small><%= comment.user.name %> <%= comment.user.surname %></small>
  </h3>
  <div class="card-body">
    <p class="card-text"><%= comment.content %></p>
      <div class="col-sm-9"  id="rating">
        <h2 id="comments-number-<%= comment.id %>"><%= render partial: 'comments/comment_number', locals: {post: comment} %> </h2>
        <div class="col-sm-1">
          <div class="col-sm-3"></div>
          <%= link_to image_tag('comment.png', width: "30", height: "30"), user_post_comment_path(id: comment.id),  remote: true %>
        </div>
      </div>
    <div id="comment-<%= comment.id %>">
    </div>
  </div>
</div>
