<div class="person">
  <% if requested.photo.nil? %>
    <%= link_to user_path(id: requested.id), class: "card-link" do %>
      <%= image_tag 'space.png', class: "medium-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: requested.nickname %>
    <%end %>
  <%else %>
    <% if requested.photo.image_data? %>
      <%= link_to user_path(id: requested.id), class: "card-link" do %>
        <%= image_tag requested.photo.image_url(:small), class: "medium-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: requested.nickname %>
      <% end %>
    <% end %>
  <%end %>
  <div class="info">
    <%= requested.name%> <%= requested.surname%>
    <% if requested.online? %>
      <%= image_tag 'online.png', id: 'status-img' %>
    <% else %>
      <%= image_tag 'offline.png', id: 'status-img' %>
    <% end %>
  </div>
</div>