<%= bootstrap_form_with model: user, url: my_url do |form| %>

  <p>
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.text_field :surname%>
  </p>

  <p>
    <%= form.text_field :nickname%>
  </p>

  <p>
    <%= form.submit class: "btn btn-primary"%>
  </p>
<% end %>