<p>
  <% if user.photo.nil? %>
    <%= image_tag 'space.png', class: "avatar-circle" %>
  <%else %>
    <% if user.photo.image_data? %>
      <%= image_tag user.photo.image_url(:small), class: "avatar-circle" %>
    <% end %>
  <%end %>
</p>
<p>
<div class="list-group">
  <% if user == current_user %>
    <%= render partial: "users/user_panels/current_user_panel", locals: {user: @user} %>
  <%else %>
    <%if current_user.admin? %>
      <%= render partial: "users/user_panels/admin_panel", locals: {user: @user} %>
    <%else %>
      <%= render partial: "users/user_panels/user_panel", locals: {user: @user} %>
    <%end %>
  <%end %>
</div>
</p>