<p>
  <% if user.photo.nil? %>
    <%= image_tag 'space.png', class: "avatar-circle" %>
  <%else %>
    <% if user.photo.image_data? %>
      <%= image_tag user.photo.image_url(:small), class: "avatar-circle" %>
    <% end %>
  <%end %>
</p>
<p>
<%if user==current_user %>
<div class="list-group">
  <%= link_to user_path(id: user.id), class: "list-group-item list-group-item-action" do %>
    Profile
  <%end %>
  <%= link_to user_posts_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
    Posts
    <span class="badge badge-primary badge-pill"><%= user.posts.count%></span>
  <%end %>
  <%= link_to user_friendships_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
    Friends
    <span class="badge badge-primary badge-pill"></span>
  <%end %>
  <%= link_to user_friendship_requests_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
    Requests
    <span class="badge badge-primary badge-pill"></span>
  <%end %>
  <%= link_to user_posts_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
    Interests
    <span class="badge badge-primary badge-pill"></span>
  <%end %>
  <%= link_to edit_user_path(id: user.id), class: "list-group-item list-group-item-action" do %>
    Settings
  <%end %>
</div>
</p>
<%else %>
  hello world
<%end %>