<p>
  <div class="my-row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= render partial: "users/user_panel", locals: {user: @user} %>
    </div>
    <div class="col-sm-6">
    <div class="col-sm-8">
      <h1 id="general-info"> <%= render partial: 'users/edit_h1', locals: {user: @user} %> </h1>
<div id="name-edit">
  <%= render partial: "users/general_info", locals: {user: @user} %>
</div>

<p>
<h1 id="avatar-info">  <%= render partial: 'photos/avatar_header', locals: {user: @user} %> </h1>
<div id="avatar-edit">
</div>
</p>

<h1 id="birthday-info"> <%= render partial: 'users/birthday_h1', locals: {user: @user} %> </h1>
<div id="birthday-edit">
<h3><%= render(partial: 'users/birthday', locals: {user: @user}) %></h3>
</div>

<h1 id="address-info"> <%= render partial: 'addresses/edit_h1', locals: {address: @user.address} %> </h1>
<div id="address-edit">
  <%= render partial: 'addresses/address', locals: {address: @user.address} %>
</div>
</div>
</div>
</div>
</p>