<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap()
      });
  </script>
<% end %>
<p>
  <div class="my-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <%= render partial: "users/user_panel", locals: {user: @user} %>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <p>
          <h2><%= @user.name %> <%= @user.surname %></h2>
          <%= @user.nickname %>
        </p>
        <p>
          <div id="map"></div>
        </p>
        <button class="btn btn-secondary" onclick="setLocation()"> Confirm location </button>
        <button class="btn btn-primary" onclick="findCurrentLocation()"> Find me </button>
      </div>
    </div>
  </div>
</p>

<script>
    let marker

    function initMap() {
        initUsersposition("current_user");
    }

    function initUsersposition(icon_type){
        let pos;

        pos = {
            lat: <%=@user.location.latitude %>,
            lng: <%=@user.location.longitude %>
        };

        var MyPos = new google.maps.LatLng(pos.lat, pos.lng)

        var mapOptions = {
            center: MyPos,
            zoom: 16
        };

        let map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var icons = {
            friend: {
                icon: "https://img.icons8.com/dusk/50/000000/user-location.png"
            },
            fullmatching: {
                icon: "https://img.icons8.com/dusk/64/000000/visit.png"
            },
            halfmatching: {
                icon: "https://img.icons8.com/wired/64/000000/visit.png"
            },
            current_user: {
                icon: "https://img.icons8.com/dusk/50/000000/marker.png"
            }
        };

        marker = new google.maps.Marker({
            position: MyPos,
            animation: google.maps.Animation.DROP,
            map: map,
            icon: icons[icon_type].icon,
            draggable: true
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Me</h1>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        let friend;
        <% @friends.each do |friend| %>
          pos = {
            lat: '<%= friend.location.latitude %>',
            lng: '<%= friend.location.longitude %>'
          };
          MyPos = new google.maps.LatLng(pos.lat, pos.lng);

          let contentString<%= friend.name %> = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><%=friend.name %> <%=friend.surname %></h1>'+
            '<div id="bodyContent">'+
            '<% @interest_categories.each do |category| %>'+
            '<div class="interest">'+
            '<p>'+
            '<h3><%=category.category_name %></h3>'+
            '</p>'+
            '<%category.interests.each do |interest| %>'+
            '<% if friend.interests.include? interest %>'+
            '<p>'+
            '<%= interest.name %>'+
            '</p>'+
            '<% end %>'+
            '<% end %>'+
            '</div>'+
            '<% end %>'+
              '<p></p>'+
            '<%= link_to "View profile page", user_path(id: friend.id) %>'+
            '</div>'+
            '</div>';

          let infowindow<%= friend.name %> = new google.maps.InfoWindow({
            content: contentString<%= friend.name %>
          });

          let user<%= friend.name %> = new google.maps.Marker({
            position: MyPos,
            animation: google.maps.Animation.DROP,
            map: map,
            icon: icons['friend'].icon,
            draggable: true
          });
        user<%= friend.name %>.addListener('click', function() {
            infowindow<%= friend.name %>.open(map, user<%= friend.name %> );
          });
          console.log('<%=friend.name %>')
        <% end %>
    }

    function setLocation(){
        pos = {
            lat: marker.getPosition().lat(),
            lng: marker.getPosition().lng()
        };
        $.ajax({
            url : "http://localhost:3000/users/" + <%=@user.id %>,
            type : "put",
            data : { user: { latitude: pos.lat, longitude: pos.lng } }
        });
    }

    function findCurrentLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition( function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var MyPos = new google.maps.LatLng(pos.lat, pos.lng)
                marker.setPosition(MyPos)
                console.log(pos)
            });
        }
    }
</script>
