<div class="person">
  <%= link_to user_path(id: friend.id), class: "card-link" do %>
    <% if friend.photo.nil? %>
      <%= image_tag 'space.png', class: "medium-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: friend.nickname %>
    <%else %>
      <% if friend.photo.image_data? %>
        <%= image_tag friend.photo.image_url(:small), class: "medium-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: friend.nickname %>
      <% end %>
    <%end %>
  <% end %>
  <div class="info">
    <%= friend.name%> <%= friend.surname%>
    <% if friend.online? %>
      <%= image_tag 'online.png', id: 'status-img' %>
    <% else %>
      <%= image_tag 'offline.png', id: 'status-img' %>
    <% end %>
    <% if @user==current_user %>
      <%= button_to 'Unfriend', user_friendship_path(id: friend.id),
                  method: :delete, class:  "btn btn-danger", remote: true%>
    <%end %>
  </div>
</div>
<p></p>