<%= bootstrap_form_with url: user_interests_path, method: :put, remote: true do |f| %>
  <% interest_categories.each do |category| %>
    <div class="interest">
      <p>
      <h3><%=category.category_name %></h3>
      </p>
      <%category.interests.each do |interest| %>
        <label class="container"><%= interest.name %>
          <% if user.interests.include? interest%>
            <%= check_box(:interests, category.category_name, {:multiple => true, checked: true}, interest.name, nil) %>
          <% else %>
            <%= check_box(:interests, category.category_name, {:multiple => true}, interest.name, nil) %>
          <% end %>
          <span class="checkmark"></span>
        </label>
      <% end %>
    </div>
  <% end %>
  <div class="my-row">
    <div class="col-sm-5">
    </div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>