<%= link_to user_path(id: user.id), class: "list-group-item list-group-item-action" do %>
  Profile
<%end %>
<%= link_to user_posts_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
  Posts
  <span class="badge badge-primary badge-pill"><%= user.posts.count%></span>
<%end %>
<%= link_to user_friendships_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
  Friends
  <span class="badge badge-primary badge-pill"></span>
<%end %>
<%= link_to user_friendship_requests_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
  Requests
  <span class="badge badge-primary badge-pill"><%= user.requestors.count%></span>
<%end %>
<%= link_to user_posts_path(user_id: user.id), class: "list-group-item list-group-item-action" do %>
  Interests
  <span class="badge badge-primary badge-pill"></span>
<%end %>
<%= link_to edit_user_path(id: user.id), class: "list-group-item list-group-item-action" do %>
  General information
<%end %>
<% unless  current_user.friends.find_by(id: user.id) || current_user.inverse_friends.find_by(id: user.id) %>
  <%= button_to "Request friendship", user_friendship_requests_path(user_id: user.id), method: :post, class: "btn btn-secondary", remote: true%>
<% end %>