<%= bootstrap_form_with model: post, url: my_url, local: true do |form| %>

  <p>
    <%= form.text_area :title%>
  </p>

  <p>
    <%= form.text_area :content%>
  </p>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <p>
        <%= form.collection_select :category_id, categories, :id, :name, {class: "form-control"}%>
      </p>
    </div>
  </div>

  <p>
    <%= form.submit class: "btn btn-primary"%>
  </p>
<% end %>