<div class="card-body">

  <p class="card-text"><%= post.content%></p>
  <p><%= link_to 'Edit', edit_user_post_path(user_id: post.user.id, id: post.id)%></p>
</div>
<div class="card-footer text-muted">
  <div class="my-row">
    <div class="col-sm-10">
      <%= link_to image_tag('comment.png', width: "30", height: "30"), user_post_comments_path(post_id: post.id) %>
    </div>
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <%= post.liked_users.size %>
          <div id="likes">
            <% if current_user.liked_posts.include? post%>
              <%= render partial: "posts/liked_button" %>
            <% else %>
              <%= link_to image_tag('like.png', width: "30", height: "30"), user_post_like_path(post_id: post.id), method: :put, remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
