<div id="target-for-change">
<div class="card mb-3">
  <h3 class="card-header">
    <% if user.photo.nil? %>
      <%= image_tag 'space.png', class: "avatar-circle" %>
    <%else %>
      <% if user.photo.image_data? %>
        <%= image_tag user.photo.image_url(:small), class: "avatar-circle" %>
      <% end %>
    <%end %> <%=post.title %>
  </h3>
  <div class="card-body">
    <h5 class="card-title">
      Categories:
      <% post.categories.all.each do |category|%>
        <span class="badge badge-pill badge-secondary"><%= link_to category.name, user_post_path(user_id: post.user.id, id: post.id), style: "color:#ffffff"%></span>
      <% end%>
    </h5>
    <h6 class="card-subtitle text-muted">Tags:
      <% post.tags.all.each do |tag|%>
        <span class="badge badge-pill badge-secondary"><%= link_to tag.name, main_page_path(tag: tag.name), style: "color:#ffffff"%></span>
      <% end%>
    </h6>
  </div>
  <div id="full-post-<%= post.id %>">
    <div class="card-body">

      <p class="card-text"><%= post.content[0..100]%>...</p>
      <p><%= link_to 'View more', user_post_path(user_id: post.user.id, id: post.id), remote: true %></p>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
</div>