<div id="target-for-change">
<div class="card mb-3">
  <h3 class="card-header">
    <% if post.user.photo.nil? %>
      <%= link_to user_path(id: post.user.id), class: "card-link" do %>
        <%= image_tag 'space.png', class: "little-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: post.user.nickname %>
      <%end %>
    <%else %>
      <% if post.user.photo.image_data? %>
        <%= link_to user_path(id: post.user.id), class: "card-link" do %>
          <%= image_tag post.user.photo.image_url(:small), class: "little-avatar-circle", data: { toggle: "tooltip", placement: "left"}, title: post.user.nickname %>
        <% end %>
      <% end %>
    <%end %> <%=post.title %> <% if post.visible? %>
      <small> <span class="badge badge-primary">Public</span> </small>
                              <% else %>
      <small> <span class="badge badge-primary">Private</span> </small>
                              <% end %>
  </h3>
  <div class="card-body">
    <h5 class="card-title">
      Categories:
      <% post.categories.all.each do |category|%>
        <span class="badge badge-pill badge-secondary"><%= category.name %></span>
      <% end%>
    </h5>
    <h6 class="card-subtitle text-muted">Tags:
      <% post.tags.all.each do |tag|%>
        <span class="badge badge-pill badge-secondary"><%= link_to tag.name, main_page_path(tag: tag.name), style: "color:#ffffff"%></span>
      <% end%>
    </h6>
  </div>
  <div id="full-post-<%= post.id %>">
    <div class="card-body">

      <p class="card-text"><%= post.content[0..100]%>...</p>
      <p><%= link_to 'View more', user_post_path(user_id: post.user.id, id: post.id), remote: true %></p>
    </div>
    <div class="card-body">
      <p class="card-text"></p>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
</div>