<%= bootstrap_form_with model: post, url: my_url, remote: true do |form| %>

    <% if post.present? && post.visible? %>
      <%= form.radio_button(:status, :visible, checked: true) %>
    <% else %>
      <%= form.radio_button(:status, :visible) %>
    <% end %>
    <% if post.present? && post.unvisible? %>
      <%= form.radio_button(:status, :unvisible, checked: true) %>
    <% else %>
      <%= form.radio_button(:status, :unvisible) %>
    <% end %>

  <p>
    <%= form.text_area :title%>
  </p>

  <p>
    <%= form.text_area :content%>
  </p>

  <p>
    <%= form.collection_select :category_id, categories, :id, :name, {class: "form-control"}%>
  </p>

  <p>
    <%= form.text_area :tags, id: "tags", label: "Tag", label_as_placeholder: true %>
  </p>


  <div class="my-row">
    <div class="col-sm-11">
      <p>
        <%= form.submit class: "btn btn-primary"%>
      </p>
    </div>
    <div class="col-sm-1">
      <%= form.submit 'Cancel', class: "btn btn-secondary"%>
    </div>
  </div>
<% end %>

<script>
    var tags = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/tags/autocomplete?query=%QUERY',
            wildcard: '%QUERY'
        }
    });
    $('#query').typeahead(null, {
        source: tags
    });
    $('#tags').tagsinput({
        typeaheadjs: [{
            minLength: 3,
            highlight: true,
        },{
            minlength: 3,
            source: tags
        }],
        freeInput: true
    });
    <% post.tags.each do |tag| %>
      $('#tags').tagsinput('add', '<%= tag.name %>');
    <% end %>
</script>