<p class="lead">
  <div class="my-row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= render partial: "tag_cloud", locals: { tags: @tags } %>
      <p></p>
<%= bootstrap_form_with(url: main_page_order_by_likes_path, method: :get, remote: true) do |form| %>
  <label class="container">By likes
    <%= check_box_tag(:order_parameter, :by_likes) %>
    <span class="checkmark"></span>
  </label>
  <p></p>
  <label class="container">By comments
    <%= check_box_tag(:order_parameter, :by_comments) %>
    <span class="checkmark"></span>
  </label>
  <p></p>
  <%= form.submit "Order", class: "btn btn-primary" %>
<% end %>
    </div>
    <div class="col-sm-8">
      <%= render partial: "search_form" %>
      <div id="search-button">
        <h1 class="display-3">Posts:</h1>
      </div>
      <div id="main-posts">
        <%= render partial: "post", collection: @posts %>
      </div>
      <div class="my-row">
        <div class="col-sm-5"></div>
        <%= paginate @posts, window: 2 %>
      </div>
    </div>
<div class="col-sm-1">
</div>
</div>
</p>