<!DOCTYPE html>
<html>
  <head>
    <title>InterestMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API"]}" %>
    <%= yield :head_tags %>
  </head>

  <body>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to 'Main page', main_page_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <% unless current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'My page', user_path(current_user), class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <% unless current_user.nil? %>
            <%= link_to 'Users', users_path, method: :get, class: "nav-link" if current_user.admin?%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link", style: "display: flex; justify-content: flex-end;" %>
        </li>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert alert-dismissible alert-primary" style="display: none" id="my-alert"><%= alert %></p>
  <%= yield %>
  </body>

  <script>
      $(document).on('ready page:load', function () {
          $('#query').chosen({
              allow_single_deselect: true,
              width: '100%'
          })
      });
  </script>
</html>
